<%layout('layout') -%>
<html>
 <header>

 </header>

  <body>
    <br></br>
    <br style='font-size : 15px; '>this description is only for description </br>
    <a class='btn' href='/users/maingame'>버튼 구현 우케했노?</a>
  </body>
</html>
