<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href='/'>명이의 세상</a></h1>
      <nav id='select-bg'>
        <ul>
          <li class="menuLink">
            <span value = '어둠의 다크니스!' onclick="
              document.querySelector('body').style.backgroundColor='black';
              document.querySelector('body').style.color='white';
              ">어둠의 다크니스</span>
          </li>
          <li class="menuLink">    
            <span value = '정열의 레드니스!' onclick="
              document.querySelector('body').style.backgroundColor='red';
              document.querySelector('body').style.color='blue';
              ">정열의 레드니스</span>
          </li>
          <li class="menuLink">
            <span  value = '빛의 화이니스!' onclick="
              document.querySelector('body').style.backgroundColor='white';
              document.querySelector('body').style.color='black';
              ">빛의 화이니스</span>
          </li>
          <li class="menuLink">
            <span  value = '바다의 블루니스!' onclick="
              document.querySelector('body').style.backgroundColor='skyblue';
              document.querySelector('body').style.color='red';
              ">바다의 블루니스</span>
          </li>
        </ul>
      </nav>      
    </span>
    <a class='btn' href='/users/maingame'>버튼 구현 우케했노?</a>
  </body>
</html>
