<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href='/'>명이의 세상</a></h1>
    <input type='button'  value = '어둠의 다크니스!' onclick="
    document.querySelector('body').style.backgroundColor='black';
    document.querySelector('body').style.color='white';
    ">
    <input type='button'  value = '정열의 레드니스!' onclick="
    document.querySelector('body').style.backgroundColor='red';
    document.querySelector('body').style.color='blue';
    ">
    <input type='button'  value = '빛의 화이니스!' onclick="
    document.querySelector('body').style.backgroundColor='white';
    document.querySelector('body').style.color='black';
    ">
    <input type='button'  value = '바다의 블루니스!' onclick="
    document.querySelector('body').style.backgroundColor='blue';
    document.querySelector('body').style.color='red';
    ">
      <div>몇명이서 겜 할꺼냐 이말이다 이 긔의싀이야</div>
        <input type='number'>
        <br></br>

      
    </span>
    <a class='btn' href='/users/maingame'>시작하기</a>
  </body>
</html>
