<!DOCTYPE html>
<html>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <body>
   <span>
    <h1><a href='/myungsworld'>명이의 세상</a></h1>
      <nav id='select-bg'>
        <ul>
          <li class="menuLink">
          <script>
            var bodyStyle = document.querySelector('body').style;
          </script>
            <span value = '어둠의 다크니스!' onclick="
              bodyStyle.backgroundColor='black';
              bodyStyle.color='white';
              ">어둠의 다크니스</span>
          </li>
          <li class="menuLink">    
            <span value = '정열의 레드니스!' onclick="
              bodyStyle.backgroundColor='red';
              bodyStyle.color='powderblue';
              ">정열의 레드니스</span>
          </li>
          <li class="menuLink">
            <span  value = '빛의 화이니스!' onclick="
              bodyStyle.backgroundColor='white';
              bodyStyle.color='black';
              ">빛의 화이니스</span>
          </li>
          <li class="menuLink">
            <span  value = '하늘의 스카이니스!' onclick="
              bodyStyle.backgroundColor='skyblue';
              bodyStyle.color='red';
              ">바다의 블루니스</span>
          </li>
          <li class="menuLink">
            <span  value = '보라돌이의 퍼플니스' onclick="
              bodyStyle.backgroundColor='purple';
              bodyStyle.color='white';
              ">보라돌이의 퍼플니스</span>
          </li>
          <li class="menuLink">
            <span  value = '연두의 그린니스' onclick="
              bodyStyle.backgroundColor='green';
              bodyStyle.color='blue';
              ">녹색의 그린니스</span>
          </li>
          <li class="menuLink">
            <span  value = '노랑의 옐로우니스' onclick="
              bodyStyle.backgroundColor='yellow';
              bodyStyle.color='red';
              ">노랑의 옐로우니스</span>
          </li>
          <li class="menuLink">
            <span  value = '똥의 갈색니스' onclick="
              bodyStyle.backgroundColor='brown';
              bodyStyle.color='skyblue';
              ">똥의 갈색니스</span>
          </li>
          <li class="menuLink">
            <span  value = '독백의 그레이니스' onclick="
              bodyStyle.backgroundColor='gray';
              bodyStyle.color='white';
              ">독백의 그레이니스</span>
          </li>
        </ul>
      </nav>
      </span>  
     
    </body>
    <%- body %>
</html>      