<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        //- meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title KAKAO REST API
        script(src='./js/index.js')
    body
        - var restLink = "https://kauth.kakao.com/oauth/authorize?&response_type=code&client_id="+apikey+"&redirect_uri=http://localhost:8080/auth/callback";
        
        div 카카오 REST API 테스트 페이지
        a(href="#" onclick="kakao_login('"+restLink+"')") 로그인


        //- 카카오페이
        - var payLink = "https://kapi.kakao.com/v1/payment/ready"

        div 카카오페이 테스트 페이지
        form(action="/kakao/pay" method="POST")
            a(href=payLink) 카카오페이
        
        div 세션 테스트
        form(action='/session' method ="POST")
          p  
            input(type="text" name="id")
          p
            input(type="text" name="pw")
            button  세션